* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    color: white;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1.3fr 1fr;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10%;
    height: 100%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 3.5rem;
}

.conteudo nav img {
    width: 2rem;
    margin-left: 0.2rem;
}

.conteudo nav ul {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    list-style: none;
}

.conteudo nav ul li {
    display: flex;
    align-items: center;
}

.conteudo nav ul .new-post {
    border: 3px solid #8B32F9;
    border-radius: 20px;
}

.conteudo nav a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.conteudo nav a span {
    color: white;
    font-size: 1.5rem;
    text-wrap: nowrap;
    margin-top: 0.15rem;
}

.logo {
    width: 100%;
}

.logo img {
    width: 50px;
}

.user {
    display: flex;
    align-items: center;
    gap: 1.7rem;
}

.user .user-image img {
    width: 100%;
}

.user-image {
    width: 50px;
    border: 1px solid #8B32F9;
    border-radius: 50%;
}

.user p {
    font-size: 1rem;
}

.user .nickname {
    font-size: 10pt;
    color: #6D7276;
}

.nav-user {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    height: 100%;
    width: 100%;
}

main .conteudo {
    width: 100%;
    border-left: 1px solid #2F3336;
    border-right: 1px solid #2F3336;
}

main .header-conteudo {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #2F3336;
}

main .header-conteudo div {
    padding: 1rem 2rem;
    width: 100%;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    padding: 0.3rem 0;
    color: white;
    padding: 5px 10% 20px;
}

footer .search {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 14px 2rem;
    background-color: #202327;
    border: 0;
    border-radius: 2rem;
    color: white;
    width: 100%;
}
